:root {
    --main_color: rgb(247, 89, 49);
    --bgmain_color: rgb(211, 221, 221);
    --bg_color: rgb(182, 150, 150);
}

body {
    margin: 0;
}

#main {
    width: 100vw;
}

.clear {
    clear: both;
}

.col_half {
    width: 50%;
    float: left;
}

.title {
    width: 100%;
    text-align: center;
    left: 50%;
}

.main_title {
    font-family: 'Podkova', serif;
    font-size: 36px;
    line-height: 1.6;
    color: black;
    margin: 20px 0;
}

.sub_title i {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #ccc;
}

#header_top {
    width: 100vw;
    height: 25px;
    background-color: black;
}


/* Header */

#header {
    width: 100vw;
    height: 120px;
    background-color: var(--bgmain_color);
}

#header_logo {
    /* margin: 0px 0 0 82px; */
    position: absolute;
    top: 42px;
    left: 80px;
}

#option_button {
    display: inline-block;
    margin: 0;
    padding-left: 200px;
    box-sizing: border-box;
}

#option_button li {
    margin: 0;
    padding: 0 20px;
    display: inline-block;
    box-sizing: border-box;
}

#option_button li a {
    color: black;
    font-family: 'Podkova', serif;
    text-decoration: none;
    line-height: 120px;
    font-size: 25px;
    transition: all .2s ease-in-out;
}

#option_button li:hover a {
    color: var(--main_color);
}

#option_button>li {
    position: relative;
}

#option_button>li>.footer_sp {
    bottom: 0px;
    position: absolute;
    border: 0 20px;
    width: 127.48px;
    height: 5px;
}

#option_button>li:hover>.footer_sp {
    background-color: black;
}

#option_button>li>.footer_so {
    bottom: 0px;
    position: absolute;
    border: 0 20px;
    width: 113.45px;
    height: 5px;
}

#option_button>li:hover>.footer_so {
    background-color: black;
}

#option_button>li>.footer_fb {
    bottom: 0px;
    position: absolute;
    border: 0 20px;
    width: 126.23px;
    height: 5px;
}

#option_button>li:hover>.footer_fb {
    background-color: black;
}

#option_button>li>.footer_tv {
    bottom: 0px;
    position: absolute;
    border: 0 20px;
    width: 92.48px;
    height: 5px;
}

#option_button>li:hover>.footer_tv {
    background-color: black;
}

#search_button {
    float: right;
}

#search_button i {
    padding: 0px 80px;
    line-height: 120px;
    font-size: 30px;
}

#search_button:hover i {
    color: var(--main_color);
}


/* Slide */

#slide {
    width: 100%;
    margin-top: 0px;
    padding-top: 50%;
    background: url(/firstproject/assets/img/slide/slide1.jpg) top center / cover no-repeat;
    position: relative;
}


/*Content*/

#content {}


/*Benefit*/

#benefit {
    display: block;
    width: 100%;
    margin-top: 48px;
}

#benefit_box {
    width: 100vw;
    padding: 50px 40px;
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
}

#benefit_box .benefit_mem {
    box-sizing: border-box;
    padding: 0 20px;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

#benefit_box .benefit_sub_title,
#benefit_box .benefit_title {
    font-size: 18px;
    margin: 20px 20px;
}

#benefit_box .benefit_sub_title {
    font-size: 14px;
    text-align: justify;
    color: #aaa;
}

#benefit_box .benefit_img {
    box-shadow: 0px 5px 5px #ccc;
    border-radius: 5%;
    display: block;
    width: 100%;
    background-color: black;
}

#benefit_box .benefit_img:hover {
    opacity: 0.8;
}

.benefit_mem .benefit_text {
    border: 1px solid var(--bgmain_color);
    border-radius: 5%;
}


/*Contact*/

#contact {
    margin-top: 50px;
    width: 100%;
    background-color: #333333;
    display: inline-block;
}

#contact_box {
    width: 100%;
    padding: 48px 180px;
    box-sizing: border-box;
    display: inline-block;
}

#contact .title {
    color: white;
}

#contact .main_title {
    margin: 0;
    padding: 50px 0 30px;
}

#infm {
    padding: 0px 100px;
    box-sizing: border-box;
}

#infm .ctc {
    color: white;
    font-size: 16px;
}

#infm_input {
    display: block;
    width: 100%;
    height: 42px;
    position: relative;
}

#infm_input .u_name {
    position: absolute;
    left: 0;
}

#infm_input .u_pass {
    position: absolute;
    right: 0;
}

#infm_input .formcontrol {
    float: left;
    width: 48%;
    margin: 0 1%;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: 16px;
    outline-style: none;
}

#quer {
    display: inline-block;
    width: 100%;
    position: relative;
}

#quer>a {
    padding: 20px 0px;
    margin: 0 1%;
    box-sizing: border-box;
    font-size: 16px;
    color: darkcyan;
    display: block;
    float: left;
}

.submit_btn {
    display: inline-block;
    float: left;
    padding: 10px 0;
    width: 20%;
    margin: 10px 1%;
    right: 0;
    position: absolute;
    background-color: var(--main_color);
    color: white;
    outline-style: none;
    border-width: unset;
    border-style: none;
}

#quer>input :hover {
    background-color: darkcyan;
    color: white;
}


/*Footer*/

#footer {}


/*RightBox*/

#right_box {
    width: 50px;
    height: 140px;
    right: 0px;
    top: 250px;
    position: fixed;
}

#right_box #right_box_el {
    position: absolute;
}

#right_box .basket {
    width: 50px;
    height: 80px;
    background-color: var(--main_color);
}

#right_box .basket .basket_logo {
    width: 100%;
    text-align: center;
    bottom: 16px;
    color: white;
    font-size: 20px;
    position: absolute;
}

#right_box .basket .amount {
    margin-left: 17px;
    top: 10px;
    color: white;
    font-size: 24px;
    position: absolute;
}

#right_box .user {
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: darkcyan;
}

#right_box .user .user_logo {
    width: 100%;
    text-align: center;
    top: 12.5px;
    font-size: 25px;
    color: var(--bg_color);
    position: absolute;
}